/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.table-container {
    display: flex;
    flex-basis: 100%;
}

    .table-container > table {
        border: 0;
    }

.col-poza {
    flex: 1 0 126px;
}


.col-nume {
    flex: 1 0 100px;
}

.col-prenume {
    flex: 1 0 100px;
}

.col-salar {
    flex: 1 0 120px;
}

.col-spor {
    flex: 1 0 80px;
}

.col-premii {
    flex: 1 0 100px;
}

.col-brut {
    flex: 1 0 115px;
}

.col-impozit {
    flex: 1 0 100px;
}

.col-cas {
    flex: 1 0 100px;
}

.col-cass {
    flex: 1 0 100px;
}

.col-retineri {
    flex: 1 0 100px;
}

.col-virat {
    flex: 1 0 125px;
}

.col-actiuni {
    flex: 1 0 100px;
}

.container{
    margin-left: 150px;
}
