@model IEnumerable<ProiectTi.Models.Employee>

@{
    ViewData["Title"] = "List";
}

<h1>Listă angajați</h1>

<p>
    <a asp-action="Create">Adaugă aganjat</a>
</p>
@{
    await Html.RenderPartialAsync("_EmployeeTable", Model);
}
@section Scripts {
<script>
    $(function(){
        $(".delete").on('click', function(){
            const button = $(this);
            const id = button.data('id');
            $.ajax(
                {
                    url: `/employee/delete/${id}`,
                    method: 'DELETE'
                }
            ).done(function(){
                button.closest('tr').remove();
            }).fail(function(){
                window.alert('Failed to delete employee');
            });
        });
    });
</script>
}