<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProiectTi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .btn:focus {
            outline: none;
            box-shadow: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="padding-left:0">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proiect TI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Acasă</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    Angajați
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="List">Listă angajați</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Create">Adăugare angajat</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Percentages">Procentaje</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    Rapoarte
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="PrintAll" target="_blank">Printează statutul de plata</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="PrintFluturasi" target="_blank">Printează fluturași</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Proiect TI  &nbsp;<span id="date-time"></span> <img style="margin-left:50px; height:120px; width:200px" id="randomImage" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function(){
            const randomImageTag = document.getElementById('randomImage');
            const imageUrl = "https://source.unsplash.com/random/60×500";

            fetchAndSetImage = async () => {
                const response = await fetch(imageUrl)
                const imageBlob = await response.blob()
                const reader = new FileReader();
                reader.readAsDataURL(imageBlob);
                reader.onloadend = () => {
                    const base64data = reader.result;
                    randomImageTag.src = base64data;
                }
            }

            setInterval(() => $("#date-time").text(new Date().toLocaleString("ro-RO").replace(",","")), 1000);
            setInterval(fetchAndSetImage, 5000);

            fetchAndSetImage(); // for the first time the page loads
        });
    </script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>